html {
  font-size: 15pt;
  font-family: Dejavu Sans;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background: #A52;
  color: black;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
    box-shadow: -1px -5px 5px #cacaca;
  }
}

a {
  color: #008;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #00D;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

pre {
  display: block;
  padding: 1rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 1rem;
}

iframe {
  border: 0;
}
